<%# ツイート一覧ページ %>
<div class = "photo-ul ul-photo">
  <p class = "photo-text">PhotoList</p>
    <ul class = "photo-li">
      <span class = "list-json"></span>
        <% @tweets.each do |tweet| %>
        <li class="photo-up">
          <div class="photo-img">
          <%=image_tag tweet.image, class: 'tweet-photos' %>
          </div>
          <span><%= tweet.title%></span>
        <% end %>
        <%# <%= paginate @tweets %> 
        </li> 
    </ul> 
</div>